.tabela-produtos {
    background-color: #424250;
   
}

.texto {
    color: #ffff;
    padding: 5px;
    
}
.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

